.margin{
    margin-top: 60px;
}

#serial, #film{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 49px;
}
.btn-primary {
    color: #fff;
    background-color: #453063;
    border-color: #007bff;
}
.card-img {
width: auto;
}

footer{
    background-color: #453063;
    margin-top: 60px;
}
.footer{
    color:white;
    margin-left: 15px;
}










































